<footer class="site-footer" role="contentinfo">
  <div class="container footer-inner">
    <p>© <span id="year"><%= new Date().getFullYear() %></span> <%= SITE_NAME %>. All rights reserved.</p>
    <a href="#home" class="back-to-top">Back to top ↑</a>
  </div>
</footer>

<% if (LIVECHAT && LIVECHAT.crisp && LIVECHAT.crisp.enabled && LIVECHAT.crisp.websiteId) { %>
<script type="text/javascript">
  window.$crisp=[];window.CRISP_WEBSITE_ID="<%= LIVECHAT.crisp.websiteId %>";
  (function(){var d=document,s=d.createElement("script");s.src="https://client.crisp.chat/l.js";s.async=1;d.getElementsByTagName("head")[0].appendChild(s);})();
</script>
<% } else if (LIVECHAT && LIVECHAT.tawk && LIVECHAT.tawk.enabled && LIVECHAT.tawk.propertyId && LIVECHAT.tawk.widgetId) { %>
<script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
  s1.async=true;
  s1.src='https://embed.tawk.to/<%= LIVECHAT.tawk.propertyId %>/<%= LIVECHAT.tawk.widgetId %>';
  s1.charset='UTF-8';
  s1.setAttribute('crossorigin','*');
  s0.parentNode.insertBefore(s1,s0);})();
</script>
<% } %>

</body>
</html>
